<h2 class="w3-center">Identify: About Page</h2>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">About Me...</h3>
    <p class="w3-center"><em>I have many passions.</em></p>
    <p>Wow. My first thought when I started reviewing what I am passionate about was simply, "Wow." I doubt anyone else
        would be impressed, though I am quite probably my own harshest critic.</p>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <p><b><i class="fa fa-user w3-margin-right"></i>Hi, I'm Toby.</b></p><br>
            <img src="/images/socialmedia/LinkedinMugshotToby.jpg" class="w3-round w3-image w3-hover-opacity" alt="Photo of Me"
                width="500" height="500">
        </div>

        <!-- Hide this text on small devices -->
        <div class="w3-col m6 w3-hide-small w3-padding-large">
            <p>Here is a silly exercise; a list of my passionate topics:</p>
            <ul>
                <li>Mead, and making mead</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
            </ul>
        </div>
    </div>
    <p class="w3-large w3-center w3-padding-16">Im really good at:</p>
    <p class="w3-wide"><i class="fa fa-camera"></i>Photography</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-laptop"></i>Web Design</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-photo"></i>Photoshop</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
    </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">14+</span><br>
        Partners
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">55+</span><br>
        Projects Done
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">89+</span><br>
        Happy Clients
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">150+</span><br>
        Meetings
    </div>
</div>
<aside class="rightfloat">
    <p>I am gradually building and adding in, so I am going to try to keep this home page updated with what's going on
        for the
        next few days and weeks.</p>
    <p>At the moment I am wide open for suggestions on how to improve anything you see here. I won't promise to
        implement anything,
        but I definitely appreciate the advice!</p>
</aside>
<article>
    <h2>About these pages...</h2>
    <p>I have many stories to tell, and this is where I will be sharing them.</p>
    <p>I am in the process of rebuilding these pages from scratch, so you are likely to encounter the under
        construction
        <a href="../underconstruction.php">page</a> as you look around. Much of what you will encounter here is
        experimental for me, and for the near future,
        unfinished.</p>
    <p>Choices are still being made. Background photos? Colors? Sprites? How much compatibility should I accommodate?
        Some parts
        are headed for a SQL/PHP approach. Perhaps others should be just a slideshow. Perhaps not. Decisions,
        decisions&#8230</p>
    <h3>About these pages,</h3>
    <p>I know it's not great for web traffic and page rankings, but I have included a &quotback&quot button as the
        first option
        in the navigation bar. If you don't feel like sticking around, I want you to know I fully support your
        decision.</p>
    <p>The portfolio section is mostly self-explanatory, and will be increasing in size for a while.</p>
    <p>Now for the notes: I have coded all these pages by hand. In this section I am going to try to share my
        reasoning. One
        of the more difficult tasks may be in getting the process explained before I have changed to an approach I feel
        might
        be better. I will give it a shot, though.</p>
    <p>In the Bio section you will find a bit about me, including a version of my resume, if you are interested. Throw
        in a
        fairly standard contact page and you have the full tour.</p>
</article>