<!-- Parallax Image with Contact Text -->
<!-- <div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">About Me</span>
    </div>
</div> -->

<!-- Parallax Image with Intro Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="about">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-text-white w3-gray w3-xlarge w3-wide w3-animate-opacity">About Me</span>
        </div>
    </div>
    
<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64">
    <article>
        <h3 class="w3-center">About Me...</h3>
        <p class="w3-center"><em>I have many passions.</em></p>
        <p>Wow. My first thought when I started reviewing what I am passionate about was simply, "Wow." I doubt anyone
            else
            would be impressed, though I could be wrong; I am quite probably my own harshest critic.</p>
        <div class="w3-row">
            <div class="w3-col m6 w3-center w3-padding-large">
                <p><b><i class="fa fa-user w3-margin-right"></i>Hi, I'm Toby.</b></p><br>
                <img src="/images/socialmedia/LinkedinMugshotToby.jpg" class="w3-round w3-image w3-hover-opacity" alt="Photo of Me"
                    width="500" height="500">
            </div>

            <!-- Hide this text on small devices -->
            <div class="w3-col m6 w3-hide-small w3-padding-large">
                <p>Here is a silly exercise -</br>A list of some of my passionate topics:</p>
                <ul>
                    <li>coding</li>
                    <li>engineering</li>
                    <li>science</li>
                    <li>philosophy</li>
                    <li>food!</li>
                    <li>dinner with friends</li>
                    <li>movies</li>
                    <li>board games</li>
                    <li>mead, and making mead</li>
                    <li>honey versions of everything</li>
                    <li>woodworking</li>
                    <li>carving, especially styrofoam</li>
                    <li>science fiction</li>
                    <li>reading</li>
                    <li>creative writing</li>
                    <li>role-playing games</li>
                </ul>
            </div>
        </div>
    </article>
    <p class="w3-large w3-center w3-padding-16">I'm really good at:</p>
    <p class="w3-wide"><i class="fa fa-brain"></i>Problem Solving</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:95%">95%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-edit"></i>Graphic Design</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-file-image"></i>InDesign</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-image"></i>Photoshop</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-drafting-compass"></i>Illustrator</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-file-pdf"></i>Acrobat</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:70%">70%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-camera-retro"></i>Photography</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:65%">65%</div>
    </div>
</div>

<!-- I don't think I like this section. TODO:Delete number section? -->
<!-- <div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">14+</span><br>
        Partners
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">55+</span><br>
        Projects Done
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">89+</span><br>
        Happy Clients
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">150+</span><br>
        Meetings
    </div>
</div> -->