<div class="row">
    <div class="col-sm-9">
        <br />
        <h4>Pride Goeth Before the Rebuild</h4>

        <p>I guess I will start with what I mean by pride.</p>
        <p>I built these pages with pride. I built these pages with care. I did it all by myself.</p>
        <p>Now I just can't stand them. They've got to go.</p>
        <p>I carefully hand-crafted every line of code. No dependencies. Everything from scratch. Often inspired by
            others, but always worked out and implemented by me, myself and I.</p>
        <p>I spent <em>so</em> much time getting everything right, functionally, visually, you name it -- that I didn't
            ever get to add but a fraction of the actual content I wanted to show here.</p>
        <p>So it has to go. I am bringing in Bootstrap, jQuery, Angular, and every other dependency I once eschewed.
            Well, the ones which will make things go faster and allow me to focus more on the content and style of
            these pages, instead of just the mechanics.</p>
        <p>The mechanics are fine, and I love them. Unfortunately, unless I point them out in code snippets, almost
            no-one is going to be able to appreciate them but the afore-mentioned me, myself and I. While I don't need
            anyone else's approval, explicit or otherwise, one of the primary reasons I am putting this here is to
            share.</p>
        <p>Since these pages are undergoing a complete rebuild from scratch, so you are likely to encounter the "in
            progress" <a href="#!Progress">page</a> as you look around. Don't worry, it will be
            encountered less and less frequently as time goes on.</p>

    </div>
    <!-- right column shifts to bottom at sm -->
    <div class="col-sm-3">
        <p class="float-sm-right">
            <a href="#!Progress"><img class="float-sm-right" src="images/thumbnails/RichardSchiff2009thumb.png" width="100"
                    height="100" alt="Richard Schiff"></a>
            If you're here looking for Toby Ziegler from the West Wing television series played by Richard Schiff,
            I have a <a href="#!Progress">page</a> of links to help you out! </p>

    </div>
</div>