<nav class="navbar navbar-expand-md navbar-dark">

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- <a class="navbar-brand" href="#">Toby's</a> -->
        <a class="nav-link btn btn-success mx-2" href="#!Home">Home</a>
        <a class="nav-link btn btn-success mx-2" href="#!Portfolio">Portfolio</a>
        <a class="nav-link btn btn-success mx-2" href="#!Notes">Notes</a>
        <a class="nav-link btn btn-success mx-2" href="#!Bio">Bio</a>
        <a class="nav-link btn btn-success mx-2" href="#!Contact">Contact</a>
        <a class="nav-link btn btn-success mx-2" href="#!Resume">Resume</a>
    </div>
</nav>