<nav class="navbar navbar-expand-md navbar-dark">

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- <a class="navbar-brand" href="#">Toby's</a> -->
        <a class="nav-link btn btn-success mx-2" href="#/">Home</a>
        <a class="nav-link btn btn-success mx-2" href="#/portfolio">Portfolio</a>
        <a class="nav-link btn btn-success mx-2" href="#/notes">Notes</a>
        <a class="nav-link btn btn-success mx-2" href="#/bio">Bio</a>
        <a class="nav-link btn btn-success mx-2" href="#/contact">Contact</a>
    </div>
</nav>