<aside class="rightfloat">
    <p>I am gradually building and adding in, so I am going to try to keep this home page updated with what's going on for the
        next few days and weeks.</p>
    <p>At the moment I am wide open for suggestions on how to improve anything you see here. I won't promise to implement anything,
        but I definitely appreciate the advice!</p>
</aside>
<article>
    <h2>About these pages...</h2>
    <p>I have many stories to tell, and this is where I will be sharing them.</p>
    <p>I am in the process of rebuilding these pages from scratch, so you are likely to encounter the under construction
        <a
            href="../underconstruction.php">page</a> as you look around. Much of what you will encounter here is experimental for me, and for the near future,
        unfinished.</p>
    <p>Choices are still being made. Background photos? Colors? Sprites? How much compatibility should I accommodate? Some parts
        are headed for a SQL/PHP approach. Perhaps others should be just a slideshow. Perhaps not. Decisions, decisions&#8230</p>
    <h3>About these pages,</h3>
    <p>I know it's not great for web traffic and page rankings, but I have included a &quotback&quot button as the first option
        in the navigation bar. If you don't feel like sticking around, I want you to know I fully support your decision.</p>
    <p>The portfolio section is mostly self-explanatory, and will be increasing in size for a while.</p>
    <p>Now for the notes: I have coded all these pages by hand. In this section I am going to try to share my reasoning. One
        of the more difficult tasks may be in getting the process explained before I have changed to an approach I feel might
        be better. I will give it a shot, though.</p>
    <p>In the Bio section you will find a bit about me, including a version of my resume, if you are interested. Throw in a
        fairly standard contact page and you have the full tour.</p>
</article>