<style type="text/css">
    .resumefont {
        color: black;
        font-size: medium;
        font-family: "Arial";
        font-style: normal;
        text-align: left
    }

    .docdimensions {
        max-width: 42rem;
        padding: 3rem
    }

    table {
        margin-top: 0rem;
        margin-left: 1.5rem;
        width: 100%
    }

    table td,
    table th {
        padding-left: 0.25rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem
    }


    .maintitle {
        color: black;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: xx-large;
    }

    .subtitle {
        background-color: black;
        color: white;
        font-size: small;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.1rem;
        page-break-after: avoid
    }

    a,
    a:hover,
    a:active,
    a:visited {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: cornflowerblue;
        cursor: pointer;
    }

    .underline {
        text-decoration: underline
    }

    .indent {
        padding-left: 1.5rem
    }

    .indent2 {
        padding-left: 3rem
    }

    .smalltext {
        font-size: smaller
    }

    ul {
        padding: 0;
        margin: 0
    }

    li {
        list-style: none;
        padding-left: 2rem;
        padding-bottom: 0.4rem;
    }

    li:before {
        content: "\0025cf  "
    }

    p {
        margin-left: 3.0rem;
        text-indent: -1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        orphans: 2;
        widows: 2;
    }

    h1 {
        font-weight: 700;
        font-size: xx-large;
        page-break-after: avoid;
        line-height: 0.5;
        margin-top: -1.0rem
    }

    h3 {
        font-weight: 700;
        font-size: large;
        page-break-after: avoid;
        line-height: 1.0;
        margin-bottom: 0.5rem;
    }
</style>

<div class="docdimensions resumefont" id="resume">
    <h1>Toby Ziegler</h1>
    <div class="subtitle" id="contactBar">
    </div>
    <h3>Summary</h3>
    <p>
        Years of graphic design and process management experience are ready to leverage new degrees and a knack for
        understanding user perspectives. Capable with software and with people, always emphasizing world class
        experiences and customer satisfaction.
    </p>
    <h3>Skills</h3>
    <table>
        <tr>
            <td>Concept development</td>
            <td>Interface design</td>
            <td>Print, vector and rastor design</td>
        </tr>
        <tr>
            <td>Project planning</td>
            <td>Experience design</td>
            <td>Communication and presentation</td>
        </tr>
        <tr>
            <td>Procedure analysis</td>
            <td>Information gathering</td>
            <td>Task and decision optimization</td>
        </tr>
    </table>
    <p>
        <span class="underline">Languages</span><span class="smalltext"><em>&nbsp;- representative of previous
                coding</em></span>
        <br>
        </span>
        <span class="c3">Java | PHP | HTML | CSS | JavaScript | AppleScript | Linux Shell</span>
    </p>
    <h3>Education</h3>
    <p>
        Missouri State University, <em>Springfield, Missouri</em>
    </p>
    <p class="indent">
        Bachelor of Applied Science in Technology Management, <em>December 2018</em>
    </p>
    <p class="indent2">
        Minor in Computer Science, <em>21 Credit Hours</em>
    </p>
    <p class="indent2">
        Minor in Web Application Development, <em>18 Credit Hours</em>
    </p>
    <p class="indent">
        Master of Science in Project Management, <em>Spring 2020</em>
    </p>
    <p>
        Ozarks Technical Community College, <em>Springfield, Missouri</em>
    </p>
    <p class="indent">
        Associate in Applied Science in Computer Information Science, <em>December 2015</em>
    </p>
    <p class="indent">
        Associate of Science in Engineering, <em>May 2015</em>
        <br>
        <em class="indent smalltext">(Qualified for both Mechanical Engineering Option and Electrical Engineering
            Option)</em>
    </p>
    <p class="indent">
        Associate of Arts, <em>May 2018</em>
    </p>
    <p class="indent">
        Capstone Project: &nbsp;Provide OTC campus with customized Raspberry Pi digital signs using
        locally cached, network driven content,<em>&nbsp;Fall 2015</em>
    </p>
    <p class="indent">
        Computer Information Science Department Intern,<em>&nbsp;Fall 2015</em>
    </p>
    <p class="indent">
        Certificate of Achievement in Computer Information Science,<em>&nbsp;December 2015</em>
    </p>
    <p class="indent">
        Certificate of Specialization in Computer Programming, <em>&nbsp;August 2015</em>
    </p>
    <h3>Experience</h3>
    <p>
        Graphic Designer and Document Manager, CoxHealth, <em>&nbsp;February 2001 thru Present</em>
    </p>
    <ul>
        <li>Chair of Document Control Oversight Committee, Lead of Document Management</li>
        <li>Created Document Management policy for entire organization</li>
        <li>Coordinated projects with multiple departments, vendors and contractors</li>
        <li>Created and modified thousands of digital projects</li>
        <li>Spearheaded transition from fully analog to all-digital workflow</li>
    </ul>
</div>

<script>
    document.body.onload = addElement;

    function addElement() {

        // obfuscated email using btoa()
        var sendDomain = "VG9ieVppZWdsZXIuY29t";
        var sendTo = "VG9ieUA=";
        var address = atob(sendTo) + atob(sendDomain);
        var mailContent = ("<a href=\"mail" + "to:" + address + "?Subject=Resume\u0020Inquiry" + "\">" + address + "</" + "a>");

        // obfuscated link to linkedin using btoa()
        var linkedinCode = "d3d3LmxpbmtlZGluLmNvbS9pbi9Ub2J5WmllZ2xlcg==";
        var linkedinAddress = atob(linkedinCode);
        var linkedinContent = ("<" + "a href=\u0022https://" + linkedinAddress + "\u0022\u0020" + "target=\u0022_blank\u0022" + ">" + "linkedin.com" + "</" + "a>");

// obfuscated link to home page
        var homeSiteCode = "VG9ieVppZWdsZXIuY29t";
        var homeSiteAddress = atob(homeSiteCode);
        var homeSiteContent = ("<" + "a href=\u0022https://" + homeSiteAddress + "\u0022\u0020" + "target=\u0022_blank\u0022" + ">" + "www." + homeSiteAddress + "</" + "a>");

        var bulletSpace = "&nbsp;&bull;&nbsp;";

        // not obfuscated
        var cityState = ("&nbsp;" + "<" + "a href=\u0022https://" + "goo.gl/maps/rppF2KVEeYn\u0022\u0020" + "\u0020target=\u0022_blank\u0022" + ">" + "Springfield, Missouri" + "</" + "a>");

        // build contact bar contents
        var contactBarContent = cityState + bulletSpace + mailContent + bulletSpace + linkedinContent + bulletSpace + homeSiteContent;

        // get element for insertion and insert after id element
        var currentSpan = document.getElementById("contactBar");
        currentSpan.insertAdjacentHTML("beforeend",contactBarContent);
    }
</script>