<!-- Titlebar -->
<div class="w3-center w3-margin">
    <button ng-click="(subpart.toggle = !subpart.toggle)" class="w3-display-container w3-button w3-block"
        style="min-height: 15vw;">
        <div class="w3-display-middle titlebar" style="white-space:nowrap;">
            <span class="titlebartext">{{ subpart.title }}</span><br />
            <span class="titlebarnote">{{ subpart.clickmsg }}</span>
        </div>
    </button>
    <!-- <button class="w3-btn w3-red w3-hide w3-animate-opacity" id="{{ partname }}">Red Button</button> -->
    <button class="w3-btn w3-red w3-animate-opacity" ng-hide="subpart.toggle">Red Button {{ subpart.toggle }}</button>
</div>
    <!-- <button ng-click="collapsible('{{ partname }}')" class="w3-display-container w3-button w3-block" style="min-height: 15vw;"> -->
    <!-- <button onclick="collapsible('about')" class="w3-display-container w3-button w3-block" style="min-height: 15vw;"> -->
