@charset "utf-8";

body
{
margin: 0px;
padding: 0px;
border: 0px;
color: black;
background-color: aliceblue;
background-image: url(OTCsummaryimages/BlueSkyCloudsBackground.jpg);
background-attachment: fixed;
}

html, body, p, th, td, li, dd, dt {
 font: 1em Arial, Helvetica, sans-serif;
 }

p, th, td, li, dd, dt, h1, h2, h3, h4, h5, h6 {
 margin:5px 40px;
 padding:5px 0;
 }

h1, h2, h3, h4, h5, h6 {
 font-family: Arial, Helvetica, sans-serif;
 }
 h1 { font-size: 2em; }
 h2 { font-size: 1.5em; }
 h3 { font-size: 1.2em ; }
 h4 { font-size: 1.0em; }
 h5 { font-size: 0.9em; }
 h6 { font-size: 0.8em; }

a:link { color: blue; }
a:visited { color: darkblue; }
a:hover { color: lightblue; }
a:active { color: azure; }

div.transbox
{
margin: 30px 50px;
background-color: white;
opacity: 0.8;
}


img.center
{
display: block;
margin-left: auto;
margin-right: auto;
}

img.floatright
{
float:right;
margin:20px;
}

img.floatleft
{
float:left;
margin:20px;
}

strong.darkblue 
{ 
color: darkblue 
}

#contact 
{
letter-spacing:2px;
}