html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f0f0f0;
    color: #383D43;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

table {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-weight: bolder;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

p,
ul,
li,
    {
    color: dimgray;
}

.smallertext {
    font-size: 0.6rem;
}

.largetext {
    /* font-size: 1.5rem; */
}

.lowtext {
    line-height: normal;
}

/*---------------------------------------
  Link Styling
-----------------------------------------*/

a,
button {
    touch-action: manipulation;
    transition: all 0.3s;
}

a {
    display: inline-block;
    color: dimgray;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

/*---------------------------------------
  Navigation Styling
-----------------------------------------*/

/* This section was brought in from the festava template, and I don not yet fully understand it. */

.sticky-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 3.0rem;
}

.sticky-wrapper.is-sticky .navbar {
    background-color: black;
}

.navbar {
    background: transparent;
    z-index: 9;
}

.navbar-brand,
.navbar-brand:hover {
    color: white;
    /* font-size: var(--h5-font-size); */
    /* font-weight: var(--font-weight-bold); */
}

.navbar-expand-lg .navbar-nav .nav-link {
    border-radius: 5.0rem;
    margin: 0.2rem;
    padding: 0.2rem 0.4rem;
}

.navbar-nav .nav-link {
    display: inline-block;
    color: white;
    /* font-size: var(--p-font-size); */
    /* font-weight: var(--font-weight-normal); */
    position: relative;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: orangered;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: 1.5rem;
    height: 1.8rem;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
    background: var(--white-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 1.5rem;
    height: 0.1rem;
    position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--white-color);
    width: 1.5rem;
    height: 0.1rem;
    content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
    top: -0.5rem;
}

.navbar-toggler .navbar-toggler-icon::after {
    top: 0.5rem;
}

/*---------------------------------------
  Header Styling
-----------------------------------------*/

.site-header {
    background-color: goldenrod;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

/*---------------------------------------
  Section Styling
-----------------------------------------*/

section {
    padding-top: 5.0rem;
    padding-bottom: 5.0rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section+.container {
    z-index: 2;
}

.section-overlay-dark {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    z-index: 1;
}

.section-overlay-light {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.10;
    z-index: 1;
}

.section-overlay+.container {
    position: relative;
}


/*---------------------------------------
  Hero Section
-----------------------------------------*/

.hero-section {
    position: relative;
    overflow: hidden;
    padding-top: 3.0rem;
    height: calc(100vh - 2.0rem);
}

.hero-section+.backgroundimage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* .hero-section small {
    color: var(--white-color);
    text-transform: uppercase;
} */

/* .hero-section .section-overlay {
    z-index: 2;
    opacity: 0.45;
} */

.hero-section .container {
    position: relative;
    z-index: 2;
    height: 100%;
    padding-bottom: 50px;
}

.hero-section .container .row {
    height: 100%;
}

/*---------------------------------------
  About Section
-----------------------------------------*/

.about-section {
    background-image: url('/images/backgrounds/valentine2018flowersblurred.jpg');
    background-color: palegoldenrod;
}

.about-image {
    border-radius: 1rem;
    display: block;
}

.about p {}

/* .about-text-wrap {
    position: relative;
} */

/* .about-text-icon {
    background: var(--primary-color);
    border-radius: 100%;
    font-size: var(--h3-font-size);
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
*/

/* .about-text-info {
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: var(--border-radius-medium);
    border: 1px solid rgba(209, 213, 219, 0.3);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 20px;
    padding: 35px;
} */

/*---------------------------------------
  Photo Section
-----------------------------------------*/

.photo-section {
    background-image: url('/images/backgrounds/greenhousestatesunsetblurred.jpg');
    padding: 4rem 2rem;
    /* background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 130px; */
}

/* .mySlides {
    display: none;
} */

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer;
    opacity: .7;
}

.w3-left,
.w3-right {
    font-size: 3rem;
}

.w3-badge {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
}

/*---------------------------------------
  Project Section
-----------------------------------------*/


/*---------------------------------------
  Resume Section
-----------------------------------------*/


/*---------------------------------------
  Contact Section
-----------------------------------------*/


/*---------------------------------------
  Footer Section
-----------------------------------------*/

footer {
    background-color: black;
    overflow: hidden;
    position: relative;
    padding-bottom: 1.5rem;
}

.site-footer-top {
    background-color: orange;
    margin-bottom: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bolder;
}

.site-footer-bottom {
    border-top: 2px solid #1f1c1c;
    margin-top: 2rem;
    padding: 1rem 3rem;
}

.site-footer-title {
    color: goldenrod;
}

.site-footer-link,
.copyright-text {
    color: white;
}

.site-footer-links {
    padding-left: 0;
}

.site-footer-link-item {
    list-style: none;
    display: inline-block;
    margin-right: 0.8rem;
}

.copyright-text {
    font-size: 0.7rem;
}


/*---------------------------------------
  Under Construction Section
-----------------------------------------*/

.underconstruction-section {
    background-image: url('/images/backgrounds/drivecircuitboards.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: darkgray;
}

/*---------------------------------------
  Caption Styling
-----------------------------------------*/

figure {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

figure img {
    border-radius: 1rem;
    max-width: 100%;
    /* min-width: 25rem; */
}

figcaption {
    background-color: white;
    border: 0.3rem solid transparent;
    border-radius: 1.0rem;
    padding: 0.2rem 1rem;
    margin: 1rem 3rem;
    font-size: 0.8rem;
    text-align: center;
    opacity: 0.7;
}

/*---------------------------------------
  Button Styling
-----------------------------------------*/

.custom-btn {
    background: gray;
    border: 0.1rem solid transparent;
    border-radius: 5.0rem;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: normal;
    transition: all 0.3s;
    padding: 0.1rem 1.0rem;
}

.custom-btn:hover {
    background: white;
    color: orangered;
}

/*---------------------------------------
  Video Styling
-----------------------------------------*/

.video-wrap {
    z-index: -100;
}

.custom-video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*---------------------------------------
  Obfuscated Email Styling
-----------------------------------------*/

span.email b {
    display: none;
}

span.email.dark a {
    color: #black;
}

span.email.light a {
    color: #white;
}