<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Dad-a-Base{% endblock %}</title>
</head>

<body>
    <header>
        <h1>Dad-a-Base of Dad Jokes</h1>
        <nav>
            <a href="{{ url_for('dadabase.home') }}">Home</a> |
            <a href="{{ url_for('dadabase.browse') }}">Browse Jokes</a> |
            <a href="{{ url_for('dadabase.submit') }}">Submit a Joke</a> |
            <a href="{{ url_for('dadabase.search') }}">Search</a>
            <a href="{{ url_for('dadabase.about') }}">About</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p><small>© {{ 2025 }} Dad-a-Base. Powered by bad puns.</small></p>
    </footer>
</body>

</html>