.titlebar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 0.8rem 1.6rem;
    text-align: center;
    animation: opac 0.8s;
    border-radius: 1rem;
    color: white;
    line-height: 1.0;
}

.titlebartext {
    letter-spacing: 0.8rem;
    font-size: 1.5rem;
}

.titlebarnote {
    letter-spacing: 0.2rem;
    font-size: 0.6rem;
}