@charset "utf-8";
/* CSS Document */

body {
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    background-color: aliceblue;
}

.outerwrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.innermain {
    flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.horicenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.verticenter {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.centertext {
    text-align: center;
}

.textbox {
    /* width: 80%; */
    /* padding: 5%; */
    border-radius: 1rem;
    background: rgba(240, 230, 220, .5);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, .7);
}

.w3-wide {
    letter-spacing: 0.6rem;
}

.w3-hover-opacity {
    cursor: pointer;
}