/* Create a Parallax Effect */
/* wrap it in a disabler for mobile/small screens */
@media screen and (min-width: 30em) {
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
        /* ... parallax styles ... */
        .parallax {
            perspective: 1px;
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .parallaxLayer {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .parallaxLayerBase {
            transform: translateZ(0);
        }
        .parallaxLayerBack {
            transform: translateZ(-24px) scale(25);
        }
        .parallaxbackground {
            background-image: url('/homeapp/common/images_common/cloudscape.jpg');
            background-size: 200vh;
            /* background-attachment: fixed; */
            background-repeat: no-repeat;
            /* background-size: cover; */
        }
    }
}